.cowWrap {
	position: absolute;
    top: 437px;
    left: 758px;
    /* display: flex; */
    display: none;
    flex-direction: column;
}
.cowHpWrap {
	border: 2px solid black;
	padding: 2px;
	height: 15px;
	width: 200px;
	margin-bottom: 10px;
}
.cowHp {
	background-color: red;
	height: 15px;
	width: 200px;
}
.cowMilkWrap {
	border: 2px solid black;
	padding: 2px;
	height: 15px;
	width: 200px;
    margin-bottom: 20px;
}
.cowMilk {
	background-color: white;
	height: 15px;
	width: 0px;
}

.wolfWrap {
	position: absolute;
    top: 369px;
    left: 1326px;
    /* display: flex; */
    display: none;
    flex-direction: column;
}
.wolfHpWrap {
	border: 2px solid black;
	padding: 2px;
	height: 15px;
	width: 150px;
	margin-bottom: 15px;
}
.wolfHp {
	background-color: red;
	height: 15px;
	width: 150px;
}

.finish {
	height: auto;
    width: 500px;
    border: double 6px #00753b;
    border-radius: 46px;
    background-image: linear-gradient(45deg, green, yellow);
    position: absolute;
	z-index: 5;
	top: 20vh;
    left: 32vw;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-shadow: white 2px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
    padding: 40px 15px;
    color: darkgreen;
}